{% extends 'layout.html' %}

{% block content %}
	{% load static %}
	<style>
        .panel-body {
            padding: 5px;
        }

        .panel-body img {
            width: 160px;
            height: 160px;
        }

        .text {
            float: right;
            padding-right: 500px;
        }
	</style>
	<div class="container">
		<div>
			<h1 style="color: green">VEGETARIANISM</h1>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Eggs with rice</h3>
			</div>
			<div class="panel-body">

				<img src="{% static 'img/23.jpeg' %}">
				<div class="text">
					<h3>The name of dish</h3>
					<div>This is *****, The ingredient includes ********</div>
				</div>

			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Eggs with rice</h3>
			</div>
			<div class="panel-body">

				<img src="{% static 'img/24.jpeg' %}">
				<div class="text">
					<h3>The name of dish</h3>
					<div>This is *****, The ingredient includes ********</div>
				</div>

			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Eggs with rice</h3>
			</div>
			<div class="panel-body">

				<img src="{% static 'img/25.jpeg' %}">
				<div class="text">
					<h3>The name of dish</h3>
					<div>This is *****, The ingredient includes ********</div>
				</div>

			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Eggs with rice</h3>
			</div>
			<div class="panel-body">

				<img src="{% static 'img/26.jpeg' %}">
				<div class="text">
					<h3>The name of dish</h3>
					<div>This is *****, The ingredient includes ********</div>
				</div>

			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Eggs with rice</h3>
			</div>
			<div class="panel-body">

				<img src="{% static 'img/27.jpeg' %}">
				<div class="text">
					<h3>The name of dish</h3>
					<div>This is *****, The ingredient includes ********</div>
				</div>

			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">Eggs with rice</h3>
			</div>
			<div class="panel-body">

				<img src="{% static 'img/28.jpeg' %}">
				<div class="text">
					<h3>The name of dish</h3>
					<div>This is *****, The ingredient includes ********</div>
				</div>

			</div>
		</div>
	</div>



{% endblock %}