{% extends 'layout.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'plugins/bootstrap-datetimepicker-0.0.11/css/bootstrap-datetimepicker.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Create user</div>
			<div class="panel-body">
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" placeholder="姓名" name="name">
					</div>
					<div class="form-group">
						<label>Passsword</label>
						<input type="text" class="form-control" placeholder="密码" name="pwd">
					</div>
					<div class="form-group">
						<label>Age</label>
						<input type="text" class="form-control" placeholder="年龄" name="age">
					</div>
					<div class="form-group">
						<label>Account</label>
						<input id="dt" type="text" class="form-control" placeholder="余额" name="ac">
					</div>
					<div class="form-group">
						<label>Date</label>
						<input type="text" class="form-control" placeholder="入职时间" name="ctime">


					</div>
					<div class="form-group">
						<label>Gender</label>
						<select class="form-control" name="ge">
							{% for item in gender_choice %}
								<option value="{{ item.0 }}">{{ item.1 }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form-group">
						<label>Department</label>
						<select class="form-control" name="dp">
							{% for item in depart_list %}
								<option value="{{ item.id }}">{{ item.title }}</option>
							{% endfor %}
						</select>

					</div>


					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>


	</div>

{% endblock %}

{% block js %}
	<script src="{% static 'plugins/bootstrap-datetimepicker-0.0.11/js/bootstrap-datetimepicker.min.js' %}"></script>


{% endblock %}